data/Bechdel_detailed.csv
data/The_Internet_Movie_Script_Dataset.xlsx
data/matched_scripts.zip
data/__MACOSX
data/matched_scripts
data/matched_titles_scripts.csv
bechdel_labels_old.ipynb


1_data_acquisition/data/1
1_data_acquisition/data/matched_scripts
1_data_acquisition/data/bechdel_labels.csv
1_data_acquisition/data/labels_and_scripts.csv


old_stuff


1_data_acquisition/.kaggle/kaggle.json

2_preprocessing/old_script.ipynb
2_preprocessing/test_embedded.csv
2_preprocessing/train_embedded.csv
2_preprocessing/validation_embedded.csv

2_preprocessing/test_case_sensitive.csv
2_preprocessing/train_case_sensitive.csv
2_preprocessing/validation_case_sensitive.csv

2_preprocessing/test_lowercase.csv
2_preprocessing/train_lowercase.csv
2_preprocessing/validation_lowercase.csv

2_preprocessing/distilbert_bechdel_classifier

3_model_selection/distilbert_bechdel_classifier
3_model_selection/model_performances.txt
3_model_selection/output/models/BoW_svc.pkl
3_model_selection/output/models/BoW_log_reg_elasticnet_saga.pkl
3_model_selection/output/models/BoW_random_forest.pkl
3_model_selection/output/models/tf_idf_svc.pkl
3_model_selection/output/models/*
3_model_selection/fine_tuned_distilroberta

3_model_selection/results/

3_model_selection/env_shap

3_model_selection/output/figures/distilroberta_train_val_confusion_matrix.jpeg
3_model_selection/output/figures/distilroberta_train_cv_confusion_matrix.jpeg
#3_model_selection/output/performances_v3.csv
